.even-item{
    background-color: green;
}

.odd-item{
    background-color: red;
}

.primary{
    color: royalblue;
}

.condition-color{
    color: purple;
}

.big{
    font-size: 50px;
}